header{
    position: fixed;
    width: 100%;
    cursor: pointer;
}
body{
    background-color: darkolivegreen;
}
.nav-bar {
    background-color: yellowgreen;
    box-shadow: 0px 2px rgba(102, 100, 100, 0.5);
    
    cursor: pointer;
}
.nav-bar a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
.dropdown {
    float: right;
  }
.dropdown .dropbtn {
    font-size: 17px; 
    border: none;
    outline: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
  }
.dropdown-content {
    display: none;
    position: absolute;
    right: 1%;
    background-color: rgb(175, 9, 9);
    min-width: 160px;
    height: 50%;
    box-shadow: 0px 8px 16px 0px rgba(180, 174, 174, 0.274);
    z-index: 1;
  }
.dropdown-content a {
    float: none;
    color: black;
    font-size: 150%;
    text-decoration: none;
    padding-top: 3%;
    text-align: center;
  }
.dropdown:hover .dropdown-content {
    display: block;
  }
.nav-bar a:hover, .controls input:hover, .dropdown:hover {
    background-color: yellow;
    color: green;
}
.nav-bar a.active, .controls input.active {
    background-color: rgb(158, 168, 12);
    color: rgb(44, 41, 41);
}

#search{
    margin-left: 25%;
    position: absolute;
    top: 30%;
    width: 250px;
    height: 30px;
    text-align: center;
}
input{
    border: none;
    border-radius: 30px;
    text-align: center;
}
input:hover{
    border: 1px solid yellow;
}
#looker{
    position: absolute;
    margin-left: 45%;
    top: 30%;
    width: 30px;
    height: 33px;
    background-image: url('../images/search.jpg');
    background-color: transparent;
}
#blank{
    background-color: transparent;
    height: 100px;
    width: 100%;
}
#side-bar{
    height: 100%;
    width: 30%;
    position: fixed;
    margin-left: 70%;
    border: inherit;
}
#side-bar img{
    width: 200px;
    height: 150px;
}
.title{
    background-image: url('../images/bars.jpg');
    background-repeat: no-repeat;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item{
    background-color: transparent;
    height: 120px;
    width: 70%;
    margin-bottom: 10px;
    font-size: 25px;
    border: 2px solid yellowgreen;
}
.action{
    background-color: yellowgreen;
    height: auto;
    width: 60%;
    margin-bottom: 10px;
    font-size: 40px;
    
    cursor: pointer;
}
.action input[type='file']{
        width: 33%;
}
.action input[type='text'], .action select{
    width: 50%;
    height: 30px;
    text-align: center;
    font-size: 50%;
    
}
.action input[type='button']{
    text-align: center;
    font-size: 20px;
    padding: 2% 6%;
    margin-left: 30%;
    background-color: darkgreen;
}
.action img{
    width: 30%;
    height: 150px;
}
.disappear{
    display: none;

}
.controls{
    border-bottom: 1px solid yellow;
    width: 60%;
    
}
.controls input{
    width: 30%;
    height: 70px;
    background-color: yellowgreen;
    font-size: 20px;
}



.item div{
    float: right;
    margin-top: 30px;
}
.images{
    margin-top: 30%;
}
.images img{
    width: 120px;
    height: 120px;
}
.accept{
    background-color: darkgreen;
}
.decline{
    background-color: coral;
}
.item div span{
    color: greenyellow;
}
.item div input{
    color: wheat;
    font-style: oblique;
    padding: 10px;
    width: 180px;
    font-size: 20px;
    margin-left: 30px;
}
.slides{
    display: none;
}
#no{
    background-color: red;
    font-size: 20px;
    color: white;
}
#yes{
    background-color: green;
    color: white;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  #banner {
    display: none;
    background-color: rgba(90, 41, 21, 0.781);
    border: 1px solid yellow;
    font-size: 25px;
    color: black;
    border-radius: 0px 30px 30px 0px ;
    top:0;
    width: 40%;
}
#close{
    background-color: yellow;
    border-radius: 20px;
    float: right;
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: rgba(172, 255, 47, 0.63);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid rgb(231, 228, 10);
    width: 80%; /* Could be more or less, depending on screen size */
    font-size: 40px;
    align-items: center;
}
.close {
    background-color: green;
    color: rgb(20, 18, 18);
    font-size: 28px;
    font-weight: bold;
    float: right;

}

.close:hover{
    color: yellow;
    text-decoration: none;
    cursor: pointer;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
