<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="HandheldFriendly" content="true">
        <meta name="keywords" lang="en-us" content="fast food, food app, order food">
        <title>Fast Food | Admin</title>
        <link rel="icon" type="image/gif/png" href="static/images/logo.jpg">
        <link rel="stylesheet" type="text/css" media="screen" href="static/css/style.css" />
        <script src="static/js/main.js"></script>
        
</head>
<body onload="current(4), opt(1)">
    <header>
    <nav class="nav-bar">
    <img src="static/images/icon.jpg">
    <input id="search" type="search" placeholder="search food..">
    <input id="looker" type="button">
    <a class="page" onclick="current(1)">Archive</a>
    <a class="page" onclick="current(2)">Panel</a>
    <a class="page" onclick="current(3)">Pending</a>
    <a class="page active" onclick="current(4)">Orders</a>
    </nav> 
    </header>
    <div class="slides fade">
        <div id="blank"></div>
        <div id="side-bar">
            <div class="title">Most Ordered.</div>
            <img src="images/most.png" alt="" >
            <div class="title">Latest Food.</div>
            <img src="images/latest.png" alt="" >
        </div>
        <div class="item">
            <span class="images">
                <img src="images/bil2.jpg" alt="" >
            </span>
            <div> 1 Chicken Biriyan<br>From: Zzana <span>In: 30 mins</span>
                <br><span id="no">RE: We cannot make it in 30 minutes.   </span><span id="no">Declined</span></div>
        </div>
       <div class="item">
        <span class="images">
            <img src="images/bil2.jpg" alt="" >
        </span>
        <div> 1 Chicken Biriyan<br>From: Bukoto <span>In: 30 mins</span><br><span id="yes">Completed</span></div>
    </div>
    </div>
    <div class="slides fade">
        <div id="blank"></div>
        <div id="side-bar">
            <div class="title">Statistics</div>
            <img src="images/stats.jpg">
        </div>
        <div class="controls">
        <input class="opts" onclick="opt(1)" type="button" value="Add Food"> 
        <input class="opts" onclick="opt(2)" type="button" value="Update Food">
        <input class="opts active" onclick="opt(3)" type="button" value="Delete Food">
        </div>
        <div class="editors action fade">
            <img src="images/big1.jpg" alt="empty"><img src="images/big2.jpg" alt="empty"><img src="images/big3.jpg" alt="empty"><br>
            <input type="file"><input type="file"><input type="file">
            <div>Name:<input type="text"></div>
            <div>Price :<input type="text"></div>
            <div>Units :<input type="text" placeholder="eg. plates, rolls"></div>
            <div>Status:<input type="text"></div>
            <div>Tag(s):<input type="text" placeholder="separate with ( , )"></div>
            <div><input type="button" value="Add Food"></div>
        </div>
        <div class="editors action fade">
                <img src="images/bil2.jpg" alt="empty"><img src="images/bil3.jpg" alt="empty"><img src="images/bil4.jpg" alt="empty"><br>
                <input type="file"><input type="file"><input type="file">
                <div>Name:<select>
                <option>Chicken Biriyan</option>
                <option>Kababs</option>
                <option>Burgers</option>
                <option>Beef tacos</option>
                <option>Skyline dish</option>
                <option>Pizza</option>
                </select></div>
                <div>Price :<input type="text" placeholder="Ush 30000"></div>
                <div>Units :<input type="text" placeholder="plates"></div>
                <div>Status:<input type="text" placeholder="Available"></div>
                <div>Tag(s):<input type="text" placeholder="Dish"></div>
                <div><input type="button" value="Update Food"></div>
        </div>
        <div class="editors action fade">
                <img src="images/taco2.jpg" alt="empty"><img src="images/Taco3.jpg" alt="empty"><img src="images/taco4.jpg" alt="empty"><br>
                <input type="file"><input type="file"><input type="file">
                <div>Name:<select>
                        <option>Beef tacos</option>
                        <option>Kababs</option>
                        <option>Burgers</option>
                        <option>Chicken Biriyan</option>
                        <option>Skyline dish</option>
                        <option>Pizza</option>
                    </select></div>
                <div>Price :<input type="text" placeholder="Ush 15000"></div>
                <div>Units :<input type="text" placeholder="None"></div>
                <div>Status:<input type="text" placeholder="Unavailable"></div>
                <div>Tag(s):<input type="text" placeholder="Meal"></div>
                <div><input type="button" value="Remove Food"></div>
        </div>
    </div>
    <div class="slides fade">
        <div id="blank"></div>
        <div id="side-bar">
            <div class="title">Most Ordered.</div>
            <img src="images/most.png" alt="" >
            <div class="title">Latest Food.</div>
            <img src="images/latest.png" alt="" >
        </div>
        <div class="item">
            <span class="images">
                <img src="images/bil2.jpg" alt="" >
            </span>
            <div> 1 Chicken Biriyan<br>From: Zzana <span>In: 30 mins</span><input id="accept" type="button" onclick="current(1)" value="Complete"></div>
        </div>
    </div>

    <span class="slides fade">
       <div id="blank"></div>
    <div id="side-bar">
        <div class="title">Most Ordered.</div>
        <img src="images/most.png" alt="">
        <div class="title">Latest Food.</div>
        <img src="images/latest.png" alt="">
    </div>
    <div class="b item">
        <span class="images">
            <img src="images/bil2.jpg" alt="">
        </span>
        <div id="orderId"><span>1 Chicken Biriyan</span><br><span>Zzana</span><span>point</span>
            <input class="accept" id="a" type="button" onclick="current(3)" value="Accept"><input class="decline" id="d" type="button" onclick="current(1)" value="Decline"></div>
        </span>
    
    </div>
    <script src="static/js/admin.js"></script>
</body>
</html>