<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="HandheldFriendly" content="true">
        <meta name="keywords" lang="en-us" content="fast food, food app, order food">
        <title>Fast Food | Admin</title>
        <link rel="icon" type="image/gif/png" href="static/images/logo.jpg">
        <link rel="stylesheet" type="text/css" media="screen" href="static/css/style.css" />
        <script src="static/js/main.js"></script>
        
</head>
<body onload="current(2), opt(1)">
    <header>
    <nav class="nav-bar">
    <img src="static/images/icon.jpg">
    <input id="search" type="search" placeholder="search food..">
    <input id="looker" type="button">
    <a class="page" onclick="current(1)">Archive</a>
    <a class="page" onclick="current(2)">Panel</a>
    <a class="page" onclick="current(3)">Pending</a>
    <a class="page active" onclick="current(4)">Orders</a>
    </nav> 
    </header>
    <div class="slides fade">
        <div id="blank"></div>
        <div id="side-bar">
            <div class="title">Most Ordered.</div>
            <img src="images/most.png" alt="" >
            <div class="title">Latest Food.</div>
            <img src="images/latest.png" alt="" >
        </div>

    </div>
    <div class="slides fade">
        <div id="blank"></div>
        <div id="side-bar">
            <div class="title">Statistics</div>
            <img src="images/stats.jpg">
            <div class="title">Make Admin</div>
            <div id="promote">
            <input id="userToPromote" type="text" placeholder="user's name" required="required">
            <input id="makeAdmin" class="accept" type="button" value="Make Admin">
            </div>
            <div class="title">Logout</div>
            <div id="promote">
                <input id="logout" class="accept" type="button" value="Logout">
                <input id="switch" class="accept" type="button" value="Switch to User">
            </div>
        </div>
        <div class="controls">
        <input class="opts" onclick="opt(1)" type="button" value="Add Food"> 
        <input class="opts" onclick="opt(2)" type="button" value="Update Food">
        <input class="opts active" onclick="opt(3)" type="button" value="Delete Food">
        </div>
        <div id="banner" class="fade">
            <span id="msg"></span>
            <span id="close">X</span>  
        </div>
        <div id="myModal" class="modal">
         <div class="modal-content">
            <span id="info"></span>
            <input id="remove" class="close" type="button" value='Continue'>
        </div>          
      </div>
        <div class="editors action fade">
            <img class="newImages" alt="empty">
            <img class="newImages" alt="empty">
            <img class="newImages" alt="empty"><br>
            <form action="" method="post" enctype="multipart/form-data" id="xform">
                <input class="preset" type="text" name="upload_preset" value="b75vyio4">
                 <input id="newImg1" type="file" name="file"></form>
            <form action="" method="post" enctype="multipart/form-data" id="yform">
                <input class="preset" type="text" name="upload_preset" value="b75vyio4">
                 <input id="newImg2" type="file" name="file"></form>
            <form action="" method="post" enctype="multipart/form-data" id="zform">
                <input class="preset" type="text" name="upload_preset" value="b75vyio4">
                <input id="newImg3" type="file" name="file"></form> 
            
            <div>Name:<input id="newName" type="text" required="required"></div>
            <div>Price :<input id="newPrice" type="text" required="required"></div>
            <div>Status:<input id="newStatus" type="text" required="required"></div>
            <div>Tag(s):<input id="newTags" type="text" placeholder="separate with ( , )" required="required"></div>
            <div><input id="aFood" type="button" value="Add Food"></div>
            
        </div>
        <div class="editors action fade">
                <img class="uImages" alt="empty">
                <img class="uImages" alt="empty">
                <img class="uImages" alt="empty"><br>
                <input id="uImg1" type="file"><input id="uImg2" type="file"><input id="uImg3" type="file">
                <div>Name:<select></select></div>
                <div>Price :<input id="uPrice" type="text" placeholder="Ush 30000" required="required"></div>
                <div>Status:<input id="uStatus" type="text" placeholder="Available" required="required"></div>
                <div>Tag(s):<input id="uTags" type="text" placeholder="Dish" required="required"></div>
                <div><input id="show1" type="button" value="Update Food"></div>
        </div>
        <div class="editors action fade">
                <img class="dImages" alt="empty">
                <img class="dImages" alt="empty">
                <img class="dImages" alt="empty"><br>

                <div>Name:<select></select></div>
                <div>Price :<input id="dPrice" type="text" placeholder="Ush 15000" required="required"></div>
                <div>Status:<input id="dStatus" type="text" placeholder="Unavailable" required="required"></div>
                <div>Tag(s):<input id="dTags" type="text" placeholder="Meal" required="required"></div>
                <div><input id="show2" type="button" value="Remove Food"></div>
        </div>
    </div>
    <div class="slides fade">
        <div id="blank"></div>
        <div id="side-bar">
            <div class="title">Most Ordered.</div>
            <img src="images/most.png" alt="" >
            <div class="title">Latest Food.</div>
            <img src="images/latest.png" alt="" >
        </div>
    </div>

    <div class="slides fade">
       <div id="blank"></div>
    <div id="side-bar">
        <div class="title">Most Ordered.</div>
        <img src="images/most.png" alt="">
        <div class="title">Latest Food.</div>
        <img src="images/latest.png" alt="">
    </div>
     </div>  
    
    
   <div class="confirms fade">
        <span>Are you sure you want to update this food?</span>
        <div><input class="accept" id="uFood" type="button" value="YES"><input class="exit decline" type="button" value="NO"></div>
    </div>
    <div class="confirms fade">
        <span>Are you sure you want to delete this food?</span>
        <div><input class="accept" id="dFood" type="button" value="YES"><input class="exit decline" type="button" value="NO"></div>  
    </div>
    <script src="static/js/admin.js"></script>
</body>
</html>