<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="HandheldFriendly" content="true">
        <meta name="keywords" lang="en-us" content="fast food, food app, order food">
        <title>Fast Food | Home</title>
        <link rel="icon" type="image/gif/png" href="static/images/logo.jpg">
        <link rel="stylesheet" type="text/css" media="screen" href="static/css/style.css" />
        <script src="static/js/main.js"></script>
        
</head>
<body onload="current(3)">
    <header>
    <nav class="nav-bar">
    <img src="static/images/icon.jpg">
    <span id="search">
        <input  type="search" placeholder="search food..">
        <input id="looker" type="button">
    </span>
    <div class="dropdown">
            <button class="dropbtn">Settings 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Profile</a>
              <a href="#">Account</a>
              <a id="logout">Logout</a>
            </div>
          </div> 
    <a class="page" onclick="current(1)">History</a>
    <a class="page" onclick="current(2)">My Orders</a>
    <a class="page" onclick="current(3)">Order</a>
    <a class="page active" onclick="current(4)">Home</a>
    </nav> 
    </header>
    <div id="mheader">Fast Food Fast</div>
    <div class="slides fade">
        <div id="blank"></div>
        <div id="side-bar">
            <div class="title">Most Ordered.</div>
            <img src="images/most.png" alt="">
            <div class="title">Latest Food.</div>
            <img src="images/latest.png" alt="">
        </div>
    </div>
    <div class="slides fade">
        <div id="blank"></div>
         <div id="side-bar">
             <div class="title">Most Ordered.</div>
             <img src="images/most.png" alt="">
             <div class="title">Latest Food.</div>
             <img src="images/latest.png" alt="">
         </div>
     </div>
    <div class="slides fade">
        <div id="blank"></div>
        <div id="side-bar">
            <div class="title">Most Ordered.</div>
            <img src="images/most.png" alt="">
            <div class="title">Latest Food.</div>
            <img src="images/latest.png" alt="" >
        </div>
        <div id="banner" class="fade">
            <span id="msg"></span>
            <span id="close">X</span>  
        </div>
        <div class="item">
            <span class="images">
                <img id="orderImage"  alt="" >
            </span>
            <div><span id="foodName">Food name</span> || <span id="foodPrice">Food price</span><br>
                Quantity: <select id="foodQ">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
            Comment: <textarea id="foodComment" required="required">
                </textarea>
            <input id="orderNow" class="accept" type="button" value="Order Now"></div>
        </div>
    </div>
    <div class="slides fade">
   <div id="blank"></div>
    <div id="side-bar">
        <div class="title">Most Ordered.</div>
        <img src="images/most.png" alt="">
        <div class="title">Latest Food.</div>
        <img src="images/latest.png" alt="">
    </div>
    <div id="banner" class="fade">
        <span id="msg"></span>
        <span id="close">X</span>  
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span id="info"></span>
        <input id="remove" class="close" type="button" value='Continue'>
    </div>            
</div>
    <script src="static/js/home.js"></script>
</body>
</html>